body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    border: 1px solid black;
    padding: 1em;
    font-size: 12px;
}
.cabezera{
    background: blueviolet;
    color: black;
    font-size: 25px;
}
.cabezera > .subtitle{
    font-size: 18px;
}
h1 {
    font-size: 20px;
}